/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* # utilities*/

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.bg-gray {
    background-color: gray;
}

.bg-blue {
    background-color: dodgerblue;
}

.bg-red {
    background-color: red;
}

.bg-yellow {
    background-color: yellow;
}

/* # generals*/

body {
    background-color: #083B4C;
}

ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

li {
    flex-basis: calc(100% /7);
    list-style-type: none;
    height: 100px;
    text-align: center;
    background-color: white;
    align-content: center;
}